.head-back{
    width: 100%;
    height: 300px;
    background-color: black;
    /* margin: -24px; */
}
.navBar-content >ul>li{
    list-style: none;
    width: 15%;
    min-height: 75px;
    float: left;
    margin-right: 1%;
}
.ant-btn:hover, .ant-btn:focus{
    color: #fff;
    border-color: #fff;
}
.navBar-content >ul>li>button{
    height:75px;
    width: 100%;
    margin-bottom: 30px;   
    border-radius: 8px;
}
.navBar-content >ul>li>button>p:nth-child(2){
    font-size: 12px;
}
.navBar-content >ul>li>button>p{
    margin:0px; 
    color:#fff;
}
.hotMes{
    clear: both;
    margin-bottom: 30px;
}
