/* 修改antd样式 */
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
  border-left: 1px solid #89ac6c;
  margin-top: -20px;
  padding:0;
}

/* menu hover和select以及focus 样式*/
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color:#93B874;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover{
  background-color:rgba(255, 255, 255, 0.2);
}

/* 去掉antd按钮聚焦样式 */
.ant-input:focus, .ant-input-focused ,.ant-input:hover{   
  border: none;
  border-bottom: 2px solid white !important;
  box-shadow: none;
}
.ant-input::placeholder{
  color: #ffffff;
}
.ant-btn-primary,.ant-btn-primary:hover, .ant-btn-primary:focus{
  margin:20px 18px;
  width: 60px;
  height: 30px;
  background-color: #ADC996;
  border-color: #ADC996;
}

/* 取消导航路由icon外边距 */
.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  margin-right: 0;
}
.ant-menu-dark .ant-menu-item-selected .anticon{
  color:#475347;
}

/* 修改antd样式 */
/* 滚动修改 */
.header-layout-first{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #93B874;
  color: #475347;
  height: 64px;
  box-shadow: 2px 2px 5px #475347;
  border-radius: 2px;
}
.header-layout-second{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #93B874;
  color: #475347;
  height: 39px;
  box-shadow: 2px 2px 5px #475347;
  border-radius: 2px;
}
.header-Menu-first{
  height: 64px;
  text-align: right;
  background-color: #93B874 !important;
  overflow: visible;
}
.header-Menu-second{
  height: 39px;
  text-align: right;
  background-color: #93B874 !important;
  overflow: visible;
}
.header-Menu-MenuItem-first{
  color: #475347 !important;
  font-size: 10px;
  width: 72px;
}
li.ant-menu-item.ant-menu-item-only-child.header-Menu-MenuItem-second{
    position: relative;
  top: -25px;
}
.header-Menu-MenuItem-second{
  /* position: relative;
  top: -25px; */
  color: #475347 !important;
  font-size: 10px;
  width: 72px;
  height: 39px;
}
.header-MenuItem-li-first{
  text-align: center;
  height: 72px;
}
.header-MenuItem-li-second{
  position: relative;
  top: -39px;
  text-align: center;
  height: 39px;
  margin-top: 25px;
}
/* 导航头样式 */
.header-logo {
  height: 39px; 
  float: left;
}
.header-logo-second{
  height: 39px; 
  float: left;
  margin-top: -15px;
}
.header-logo-search{
  border-width:0 0 2px;
  background-color: #93B874;
  border-color: #ffffff;
  border-radius: 0;
  margin-left: 10px;
  color: #ffffff;
  font-size: 16px;
}

.header{
  max-height: 72px;
  position: relative;
  text-align: center;
  border-top: none;
  border-right: 1px solid #89ac6c;
  /* max-width: 1050px; */
}
.home-back{
  width: 100%;
  height: 200px;
  margin-top: 64px;
  background-image: url(./home_back.jpg);
}
/* 非首页情况下内容的样式 */
.content{
  padding: 90px 120px 24px;
}
/* 首页情况下内容的样式 */
.homecontent{
  padding: 24px 120px 24px;
  
}

/* 尾部样式 */
.footer-nav{
  background-color: #93B874;
  margin-bottom: 0px;
  color: #475347;
}
.footer-foot{
  background-color: #93B874;
  color: #475347;
  height: 30;padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}